#django basics
Django==1.6.5
South==0.8.4
psycopg2==2.5.2
django-compressor==1.4
django-debug-toolbar==1.0.1
gunicorn==18.0
Fabric==1.8.1

#sms manager
RapidSMS==0.17.0

# debugging tools
ipython==1.2.1

# django bootstrap
django-bootstrap3==4.8.2
django-admin-bootstrapped==1.6.5

# angularjs
django-angular

# django-geojson
django-geojson
